{% load static %}
<html>
 <head>
   <title>Reserva de Canchas</title>
   <link href="static/main.css" rel="stylesheet"/>
 </head>
 <body>
 <div class="register-form-container">
    {% for message in messages %}
      <div>{{ message }}</div>
    {% endfor %}
   <h1>Registro</h1>
   <form method="POST" class="register-form">
     {% csrf_token %} <!-- Protección para ataques CSRF -->
     {{ registro_form }} <!-- Importación de formulario -->
     <br/>
     <button type="submit" class="submit-button">Registrarme</button>
   </form>
   <p>Si ya tienes cuenta,
     <a href="/login">Inicia sesión</a>.
   </p>
 </div>
 </body>
</html>