{% extends 'base.html' %}

{% block content %}
  <div class="container">
    <h1 class="mt-5">Mis compras</h1>
    <div class="row">
      <div class="col-md-8 offset-md-2">
        {% if compras %}
          <ul class="list-group mt-3">
            {% for compra in compras %}
            <li class="list-group-item">{{ compra.concierto.artista }} - {{ compra.concierto.lugar }} ({{ compra.concierto.fecha }}) - {{ compra.localidad.nombre }}</li>
            {% endfor %}
          </ul>
        {% else %}
          <p class="mt-3">No tienes compras registradas.</p>
        {% endif %}
      </div>
    </div>
  </div>
{% endblock %}
